#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC                  &kp N1            &kp N2               &kp N3           &kp N4         &kp N5                             &kp N6            &kp N7             &kp N8            &kp N9             &kp N0               &kp BSPC
              &kp TAB               &kp X                &kp Q            &kp W          &kp F             &kp TILDE    &kp MINUS             &kp U          &kp Y               &kp J             &kp FSLH            &kp EQUAL
&kp CAPSLOCK             &kp LSHFT         &kp A                &kp R            &kp S          &kp P                              &kp L             &kp E              &kp I             &kp O              &kp BSLH             &bt BT_CLR_ALL
              &kp LCTRL             &kp Z                &kp V            &kp C          &kp T             &kp G        &kp M                 &kp N          &kp COMMA           &kp DOT           &kp SEMI            &kp SQT
                                           &kp LEFT_GUI         &kp LALT         &kp D          &kp B                              &kp K             &kp H              &kp DEL           &kp INS
                                                                                                           &kp LBKT     &kp RBKT
                                                                                                &kp SPACE                          &kp ENTER
            >;
        };
    };
};
